.business-index-page-container-top-border {
    border-top: 1px solid rgb(238, 238, 239);
}

.business-index-page-container {
    // min-width: 0px;
    // overflow: hidden;
    // grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 90%;
    height: 1000px;
    padding: 10px;
    // display: flex;
    justify-content: center;

}

.business-index-page-container-top-nav {
    //     width: 960px;

    // margin-left: auto;

    // margin-right: auto;
}

.business-index-page-container-header {
    display: block;
    width: 960px;

    margin-left: auto;
    margin-right: auto;


    // border: 3px solid brown;
}

.business-index-page-container-header-text {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-left: 30px;
    line-height: 30px;
    color: #2b273c;
}

.business-index-page-container-subheader {
    display: flex;
    width: 450px;
    margin-left: auto;
    margin-right: 70%;


}

.business-index-page-container-subheader > p:hover {
    background-color: #999;
    color: white;
}

.business-index-page-container-subheader-1, .business-index-page-container-subheader-2, .business-index-page-container-subheader-3 {
    margin-top: 35px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: auto;

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(43, 39, 60);

    border: 1px solid rgb(187, 186, 192);
    border-radius: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

    transition: 0.4s;


}

.business-index-page-subcontainer {
    display: flex;

    width: 960px;
    height: 1000px;

    margin-left: auto;
    margin-right: auto;

}

.business-index-page-business-list {
    width: 650px;
    height: 180px;
    border: 1px solid yellowgrrgb(238, 238, 239);

}

.business-index-page-business-map {
    width: 400px;
    height: 450px;
    margin-left: 65px;
    border: 1px solid blue;
}

