.business-index-item-page-container {

    border: 1px solid darkgoldenrod;

    display: flex;
    float: left;
    width: 700px;
    margin-right: 40px;
    margin-bottom: 25px;
    border-radius: 4px;
    transition: box-shadow .3s;
    border: 1px solid #eeeeef;
}

.business-index-item-page-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


// image
.business-index-item-image-container {
    width: 200px;
    height: 200px;
    margin: 25px;

    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/fIg31aMOClJ8sR6ZRxPTTQ/o.jpg');
    background-size: cover;


    border-radius: 4px;


}


// business details
.business-index-item-details-container {
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    // border: 1px solid rgb(247, 0, 255);

}

.business-index-item-bizname {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}