.business-index-item-page-container {

    // border: 1px solid darkgoldenrod;

    display: flex;
    float: left;
    width: 700px;
    margin-right: 40px;
    margin-bottom: 25px;
    border-radius: 4px;
    transition: box-shadow .3s;
    border: 1px solid #eeeeef;
}

.business-index-item-page-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


// image
.business-index-item-image-container {
    width: 200px;
    height: 200px;
    margin: 25px;

    // background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/fIg31aMOClJ8sR6ZRxPTTQ/o.jpg');
    // background-size: cover;

    border-radius: 4px;
}

.business-index-item-image-container > img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

// business details
.business-index-item-details-container {
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    // border: 1px solid rgb(247, 0, 255);

}

.business-index-item-bizname {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #2b273c;
}

.business-index-item-rating > i {
    // color: #d32323;

    background-color: rgb(211, 35, 35);;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 2px;
    text-align: center;
    color: white;
}


.business-index-item-category {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #757280;
}

.business-index-item-category > p {
    padding-left: 5px;
}

.fa-circle {
    font-size: 4px;
    padding-top: 9px;
    padding-left: 10px;
}

.business-index-item-address-1, .business-index-item-address-2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2b273c;
    font-size: 16px;

}

.business-index-item-address-1 {
    padding-bottom: 5px;
}

.business-index-item-address-3 {
    display: flex;
    border-radius: 4px;
    background-color: #f4f4f4;
    border-color: #eeeeef;
    width: 425px;
    height: 40px;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.business-index-item-address-3-1 {
    color: #2b273c;
    padding: 9px 18px;
    background: #fff;
    border: 1px solid #bbbac0;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2b273c;
    display: flex;
    width: 87px;
    transition: 0.6s;
}

.business-index-item-address-3-1:hover {
    background-color: #f4f4f4;
}

.business-index-item-address-3-2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2b273c;
    padding-left: 125px;
    padding-top: 13px;

}