.biz-page-header-container {

    width: 90%;    
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 25px;

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


}

// logo
.biz-page-header-logo {
    width: 100px;
    height: 50px;
}

// search bar
.biz-page-header-searchbar {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    border: 1px solid #2b273c;
    border-radius: 4px;

}

.biz-page-header-searchbar p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    background-color: blueviolet;
}

.biz-page-header-searchbar p input {
    margin-left: 5px;
    outline: none;
    height: 22px;
    width: 120px;

}



// user login signup 
.biz-page-header-user {
    height: 50px;
    margin-top: 5px;
    margin-right: 50px;
}

.biz-page-header-user span {
    border: 1px solid #2b273c;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px 8px 16px;
    margin-left: 15px;
}