.business-show-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 1000px;
    height: fit-content;
    padding-top: 50px;
}

//
.business-show-container-top-bizinfo {
    width: 610px;
    height: 170px;

    display: flex;
    float: left;
    display: block;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.business-show-container-top-bizinfo p {
    padding-bottom: 15px;
}

.business-show-container-top-bizinfo p:first-child {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #333333;
}

.business-show-container-top-bizinfo-rating > i {
    background-color: rgb(211, 35, 35);
    padding-right: 2px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 2px;
    text-align: center;
    color: white;
}

.biz-show-container-top-bizinfo-category {
    display: flex;
}

.biz-show-container-top-bizinfo-category > span {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #757280;
    padding-left: 4px;
}

.business-show-container-top-bizinfo p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0073bb;
}

.business-show-container-top-writeareview {
    display: block;
    width: 125px;
    text-align: center;

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #d32323;
    padding: 5px;

    margin-top: -15px;

}

// COVID 19
.covid-19 {

    display: block;
    float: left;
    width: 560px;
    // height: 100px;

    background: #d0ecfb;
    border-radius: 3px;

    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;

    margin-top: 25px;
    margin-bottom: 25px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.covid-19 p:first-child {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.covid-19-biz {
    color: #0097ec;
}

.covid-19 p:last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}


// 
.business-show-container-top-bizcontactinfo {
    width: 320px;
    border: 1px solid rgba(0,0,0,0.2);
    position: sticky;
    border-radius: 4px;
    height: 260px;
    top: 20px;
    margin-left: 65%;

    padding-left: 5px;
    padding-right: 5px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    size: 14px;
    color: #333333;

    vertical-align: middle;
}

#bizcontactinfo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.business-show-container-top-bizcontactinfo > div {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.fa-sign-out-alt {
    padding-top: 15px;
}

.business-show-container-top-bizcontactinfo div:last-child {
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
}

// location and hours 
.business-show-container-mid-header {
    display: block;
    width: 610px;
    border-top: 1px solid red;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 1px solid rgba(0, 0, 0, 0.2);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #2b273c;
}

.business-show-container-mid {
    display: flex;
    width: 610px;
    height: fit-content;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2b273c;
}

.business-show-container-mid-map {
    border: 1px solid #ccc;
    width: 300px;
    height: 270px;
    border-radius: 4px;
    margin-right: 35px;
}

#biz-show-map {
    width: 300px;
    height: 200px;

    position: relative;
    overflow: hidden;
    top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);
    border-bottom: 1px solid #ccc;
}

.business-show-container-mid-address {
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 700;
}

// hours

.business-show-container-mid-hours  {

    width: 180px;
    height: fit-content;
    // border: 1px solid red;
}

.business-show-container-mid-hours > div {

    display: flex;
    justify-content: space-between;

    margin-bottom: 5px;
}

#week {
    font-weight: 700;
    // display: flex;
    // float: left;
    // width: 50px;
}

#hours {
    // display: flex;
    // float: right;
    // width: 150px;

}

// reviews
.business-show-container-bottom {
    display: flex;
    width: 610px;
    height: fit-content;

    // border: 1px solid blue;

}

.business-show-review-user {
    width: 120px;
    height: 250px;

    // border: 1px solid red;
}

.business-show-container-bottom-right {
    display: block;
}

// demo review 
.business-show-review-demo {
    width: 610px;
    height: 150px;
    display: flex;
    border-bottom: 1px solid #ccc;

    margin-bottom: 20px;



    // border: 1px solid green;
}

#review-demo {
    background-image: url(https://s3-media0.fl.yelpcdn.com/assets/public/empty_profile@2x.yelp-react-component-review.yji-f52f768da99ad105f2d4ad4190f25c31.png);
    background-size: cover;
    width: 148px;
    height: 68px;

}

.business-show-review-demo-details {
    width: 415px;
    height: 100px;
    background-color: #f4f4f4; 
    border-radius: 4px;       
    border: 1px solid #eeeeef;
    padding: 10px;
    text-align: center;

    display: block;
    margin-left: auto;
    // margin-right: auto;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #2b273c;
}

#demo-ratings {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeef;
    padding-bottom: 15px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#demo-ratings > i {
    background-color: rgb(211, 35, 35);
    color: white;
    border-radius: 2px;
    padding: 2px;
}

#demo-bizname {
    font-weight: 700;
}

//business-show-container-nav
.business-show-container-nav {
    display: flex;
    height: 45px;    
    text-align: center;
    width: 100%;
    justify-content: space-evenly;    
    margin-top: 15px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-bottom: 20px;
}

.business-show-container-nav div {
    width: 19.99%;
    text-align: center;
    background: #FAFAFA;
    border-bottom: 1px solid #E6E6E6;
    border-left: 1px solid #e6e6e6;

    padding-top: 10px;
}

.business-show-container-nav div:hover {
    border-bottom: 2px solid #666666;
    // padding-bottom: -170px;
    // margin-bottom: -170px;
}

.business-show-images {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 305px;
}

.business-show-images div {
    display: flex;
    float: left;
    padding-top: 8.5%;
    padding-bottom: 8.5%;
    width: 24.80%;   

    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/f7il0aA3wEGWXil_qZv0zQ/o.jpg');
    background-size: cover;
}


.business-show-images > img {
    display: flex;
    float: left;
    width: 24.80%;   
    object-fit: cover;

}

.business-show-images > img:hover {
    position:relative;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -5px;
    margin-right: -15px;
    width:30%;
    height:auto;
    display:block;
    z-index:999;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}