// homepage business section
.homepage-business-display-header {

}

.homepage-business-display-topheader {
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    color: #d32323;
    font-weight: 700;
}

.homepage-business-display-subheader {
    display: flex;
    justify-content: space-around;    
    padding: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;

    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

    cursor: pointer;
}

.homepage-business-display-subheader > div:hover {
    border-bottom: 2px solid #d32323;
    padding-bottom: 13px;
    margin-bottom: -17px;
}

.homepage-business-display {
    width: 960px;
    height: 700px;
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.homepage-business-individual-display {
    display: flex;
    float: left;

}

.homepage-business-individual-display-1, .homepage-business-individual-display-2, .homepage-business-individual-display-3 {
    width: 300px;
    height: 350px;
    align-items: center;
    justify-content: center;
    margin-right: 27px;

    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background: #fff;
    // border: 1px solid black;
}

.homepage-business-individual-display-1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homepage-business-individual-display-1-top, .homepage-business-individual-display-2-top, .homepage-business-individual-display-3-top {
    height: 55.25%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.homepage-business-individual-display-1-bottom, .homepage-business-individual-display-2-bottom, .homepage-business-individual-display-3-bottom {
    height: 42.75%;
    padding: 12px 12px 0 12px;

}

// individual business display top
.homepage-business-individual-display-1-top {
    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/ZUls2aG-zBLhyiHpZ4HPDQ/o.jpg');
    background-size: cover;
    border-bottom: 1px solid #e6e6e6;
}

.homepage-business-individual-display-2-top {
    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/ZUls2aG-zBLhyiHpZ4HPDQ/o.jpg');
    background-size: cover;
    border-bottom: 1px solid #e6e6e6;

}

.homepage-business-individual-display-3-top {

    background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/ZUls2aG-zBLhyiHpZ4HPDQ/o.jpg');
    background-size: cover;
    border-bottom: 1px solid #e6e6e6;

}

// individual business display bottom
.homepage-business-individual-display-1-bottom-bizname {

    color: #0073bb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 10px;
}

.homepage-business-individual-display-1-bottom-bizcategory, .homepage-business-individual-display-1-bottom-bizaddress, .homepage-business-individual-display-1-bottom-bizhot {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    line-height: 18px;
    padding-top: 10px;
}

.homepage-business-individual-display-1-bottom-bizcategory > span {
    padding-right: 4px;
    color: #757280;
}

.homepage-business-individual-display-1-bottom-bizrating > i {
    // color: #d32323;
    background-color: rgb(211, 35, 35);;
    padding-right: 2px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 2px;
    text-align: center;
    color: white;
}

.homepage-business-individual-display-1-bottom-bizhot {
    color: #f15c00;
}